[submodule "Lib/FreeRTOS/Kernel"]
	path = Lib/FreeRTOS/Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "Lib/Lwip/Kernel"]
	path = Lib/Lwip/Kernel
	url = https://github.com/lwip-tcpip/lwip.git
[submodule "Lib/Lwjson/Kernel"]
	path = Lib/Lwjson/Kernel
	url = https://github.com/MaJerle/lwjson.git
